@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

:root {
  --main-dark: #183a1d;
  --main-light: #fefbe9;
  --main-light-other: #b9f9cf;
  --main-color: #437a4b;
  --main-color-dark: #737373;
  --main-color-light: #5872f5;
  --text-color: #cfcde7;
}

body {
  font-family: "Montserrat";
  background-color: var(--main-light);
}

.navbar {
  background-color: var(--main-dark);
  overflow: hidden;
  text-align: center;
  padding: 14px 16px;
  border-radius: 25px;
}

.navbar a {
  float: center;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition-duration: 0.4s;
}

.navbar a:hover {
  background-color: var(--main-color);
  border-radius: 25px;
}
