main,
html {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif!important;
}

.website-header {
  background-image: url("natureForrestHeaderBackground.jpg");
  background-color: rgb(18, 75, 53);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.website-header-text-h1 {
  font-size: 4rem;
  font-weight: 600!important;
}

.website-header-text-h2 {
  font-size: 3rem;
  font-weight: 500!important;
}

.whatsLifeCoaching h3 {}

.whatsLifeCoaching {}

.whyGetLifeCoaching h3 {}

.whyGetLifeCoaching {}